Source: gxde-boot-maker
Section: misc
Priority: extra
Maintainer: Deepin Sysdev <sysdev@linuxdeepin.com>
Build-Depends: debhelper (>= 9),
 python3,
 qmake6,
 qt6-tools-dev-tools,
 qt6-base-private-dev,
 qt6-base-dev,
 libxcb-util0-dev,
 libmtdev-dev,
 libxrender-dev,
 libglib2.0-dev,
 libfontconfig-dev,
 libegl1-mesa-dev,
 libstartup-notification0-dev,
 libdtk2widget6-dev,
 libdtk6core-dev
Standards-Version: 3.9.5
Homepage: http://gitee.com/GXDE-OS/gxde-boot-maker

Package: gxde-boot-maker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, p7zip-full, mtools,
 syslinux [linux-amd64 linux-i386],
 syslinux-common [linux-amd64 linux-i386]
Description: Deepin Boot Maker is help for user to create a boot
 usb stick quick and easy, it designed to support only deepin
 install iso, but it can work for all ubuntu live install iso too.
